
    .ct1-home{
        background-color: #f0ecec;
        padding: 1em 0em 0em 0em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        color: rgb(0, 0, 0);
    }
    .linkh:link {
        color:#000000;
        text-decoration:none;
        font-size: x-large;
        font-weight: 400;
      }
      .linkh:visited {
        color:#000000;
        text-decoration:none;
      }
      .linkh:hover {
        color:#616161;
        text-decoration:wavy;
        font-size:xx-large;
        font-weight: 500;
      }
    
    .ct2-conteudo{
        background-color: #f0ecec;
        min-height: 50vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

    }
    select{
      border-radius: 20px;
  }
    input, button{
        border-radius: 20px;
    }
    .ct2-list{
        margin-top: 1em;
        margin-bottom: 1em;
        width: 13em;
        background-color: #055fb4;
        transition: background-color 1s ease 0.5s;
        border: 1px solid black;
        border-radius: 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        filter: drop-shadow(0px 0px 11px #000);
    }
    .ct2-list:hover{
      background-color: #3190d4;
    }
    .ct2-list > ul > li{
        margin: 1em;
    }
    .link:link {
        color:#ffffff;
        text-decoration:none;
      }
      .link:visited {
        color:#ffffff;
        text-decoration:none;
      }
      .link:hover {
        color:#000000;
        text-decoration:wavy;
        font-size:large;
      }
